
.rhap_main ,  .rhap_stacked
{
    padding: .2rem 2rem;
    justify-content: center!important;
    align-items: center!important;
}

.rhap_progress-bar {
    background-color: aquamarine;
}

.rhap_container {
    padding: 0!important;
    margin: 0!important;
}
.rhap_loop--off {

}
.rhap_play-status--paused {

}

.rhap_controls-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0!important;
}

.rhap_volume-controls
{

}

.rhap_current-time , .rhap_time , .rhap_total-time
{
    color: white!important;
    font-size: .8vw!important;
}

.rhap_progress-indicator
{
    display: none;
    width: 10px !important;
    height: 14px!important;
    top : -4px!important;
    background-color: #679b41 !important;
}

.rhap_progress-section
{
    width: 95%;
}

.rhap_progress-filled
{
    background-color: #679b41 !important;
}

.rhap_download-progress
{
    background-color: rgba(56, 56, 56, 0.41) !important;
}

.rhap_progress-container
{
    margin: 0 19px !important
}

.rhap_progress-bar {
    height: 3px;
    background-color: darkgray!important;
}

.rhap_volume-container
{
    margin: 0 1rem;
}

.rhap_volume-bar
{
    background-color: #679b41 !important;
}