
.rhap_main ,  .rhap_stacked
{


}

.rhap_progress-bar {
    background-color: aquamarine;
}

.rhap_container {

}
.rhap_loop--off {

}
.rhap_play-status--paused {

}

.rhap_controls-section {


}

.rhap_volume-controls
{

}

.rhap_current-time , .rhap_time , .rhap_total-time
{
    color: white!important;
    font-size: .8vw!important;
}

.rhap_progress-indicator
{
    display: none;
    width: 10px !important;
    height: 14px!important;
    top : -4px!important;
    background-color: #ad1457 !important;
}

.rhap_progress-section
{

}

.rhap_progress-filled
{
    background-color: #ad1457 !important;
}

.rhap_download-progress
{
    background-color: rgba(56, 56, 56, 0.41) !important;
}

.rhap_progress-container
{

}

.rhap_progress-bar {

}

.rhap_volume-container
{

}

.rhap_volume-bar
{
    background-color: #ad1457 !important;
}

.rhap_additional-controls
{

}